assignment2/comp451/Lib/site-packages/torch/lib/cublas64_10.dll
assignment2/comp451/Lib/site-packages/torch/lib/cublasLt64_10.dll
assignment2/comp451/Lib/site-packages/torch/lib/cudnn64_7.dll
assignment2/comp451/Lib/site-packages/torch/lib/cudnn64_7.dll
assignment2/comp451/Lib/site-packages/torch/lib/caffe2_observers.dll